.main__input {
	width: 80%;
}

input {
	width: 100%;
	padding: 0.6rem 1rem;

	font-size: 1.6rem;
	color: #fff;

	border: 0.1rem solid #999;
	border-radius: 1rem;
	background-color: transparent;
}

input::placeholder {
	font-size: 1.6rem;
}
